.flex-container{
    display: flex;
    width:100%;
}




.img1{
    width: 100px;

}

.right{
    height: 100%;
    
    width: 24%;
    margin: 16px;
    

}

.left{
    
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    
    
    
    height: 100%;
    
    width: 76%;
    margin: 16px;
}